<!DOCTYPE html>
<html>
  <head>
    <title>Boston Housing value Predictor</title>
  </head>
  <body>
    <h1>Boston Housing value Predictor</h1>
   
    <form action="{{ url_for('predict_api')}}" method="post">
      <p class="small"></p>
      <label for="crim">CRIM:</label>
      <input type="number" id="crim" name="crim" step="0.001"><br>

      <p class="small"></p>
      <label for="zn">ZN:</label>
      <input type="number" id="zn" name="zn" step="0.001"><br>

      <p class="small"></p>
      <label for="indus">INDUS:</label>
      <input type="number" id="indus" name="indus" step="0.001"><br>

      <p class="small"></p>
      <label for="chas">CHAS:</label>
      <input type="number" id="chas" name="chas" step="0.001"><br>

      <p class="small"></p>
      <label for="nox">NOX:</label>
      <input type="number" id="nox" name="nox" step="0.001"><br>

      <p class="small"></p>
      <label for="rm">RM:</label>
      <input type="number" id="rm" name="rm" step="0.001"><br>

      <p class="small"></p>
      <label for="age">AGE:</label>
      <input type="number" id="age" name="age" step="0.001"><br>

      <p class="small"></p>
      <label for="dis">DIS:</label>
      <input type="number" id="dis" name="dis" step="0.001"><br>

      <p class="small"></p>
      <label for="rad">RAD:</label>
      <input type="number" id="rad" name="rad" step="0.001"><br>

      <p class="small"></p>
      <label for="tax">TAX:</label>
      <input type="number" id="tax" name="tax" step="0.001"><br>

      <p class="small"></p>
      <label for="ptratio">PTRATIO:</label>
      <input type="number" id="ptratio" name="ptratio" step="0.001"><br>

      <p class="small"></p>
      <label for="b">B:</label>
      <input type="number" id="b" name="b" step="0.001"><br>

      <p class="small"></p>
      <label for="lstat">LSTAT:</label>
      <input type="number" id="lstat" name="lstat" step="0.001"><br>

      <p class="small"></p>
      <input type="submit" value="Submit">
    </form>
    <h2>
      THE  prediction is {{result}}
   </h2>
  </body>
</html>
